<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
</head>
<body>
    <header>
        <h1>Mi Ecommerce</h1>
        <nav>
            <ul>
                <li><a href="{% url 'product_list' %}">Productos</a></li>
                <li><a href="{% url 'auction_list' %}">Subastas</a></li>
                <li><a href="{% url 'view_cart' %}">Carrito</a></li>
                
            </ul>
        </nav>
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 Mi Ecommerce</p>
    </footer>
</body>
</html>
